body {
    background-color: white;
    color: black;
}

.navbar-nav {
    margin-right: 1rem;
}
.navbar-collapse {
    justify-content: flex-end;
}
.navbar-nav .nav-item {
    padding-right: 1rem;
}
.navbar-toggler {
    margin-right: 1rem;
}
.btn-secondary {
    margin-right: 1rem;
}
#navbarNav {
    text-align: right;
}